<h1>#</h1>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Getting Hitched</h1>
      <p>Marriage is the bond between a person who never remembers anniversaries and another who never forgets them</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Soni & Marc</h3>
        <p><i>The venue was phenomenal! We had spectacular views of the bridge and Lunar Park, as the venue was directly under the harbour bridge. Our guests were blown away. </i></p>
      </div>
      <div class="col-md-4">
        <h3>Russell & Kylie</h3>
        <p><i>Great and easy to work with, they gave us a comprehensive planning form and recommended suppliers and it made the whole thing super easy.</i></p>
      </div>
      <div class="col-md-4">
        <h3>Joseph & Conny</h3>
        <p><i>The venue was beautiful, we had a lot of photos there but I personally didn't eat the food as I couldn't in my dress! Thank you so much for everything that you did on our wedding day and the lead up to the wedding. You have been so wonderful to work with, very professional, patient, friendly and understanding.</i></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>